<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Helper\Image">
        <plugin name="ssa_imgreplace_helper" type="\SSA\Imgreplace\Plugin\Catalog\Helper\Image"/>
    </type>

    <type name="\Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="ssa_imgreplace_gallery" type="\SSA\Imgreplace\Plugin\Block\Product\View\Gallery"/>
    </type>
</config>
